.mediumText {
    font-size: 16px;
}

.modal :global(.ant-modal-header) {
    font-size: 20px;
}

.modal :global(.ant-modal-body) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    min-height: 406px;
}

.selection {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.title {
    margin-right: 12px;
}

.modal .doubleWide {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

.doubleWide>*:last-child {
    justify-content: end;
}

.formatButtons {
    border-radius: 8px;
}

.formatButtons>button:nth-child(1) {
    border-radius: 8px 0 0 8px;
    border: solid #eb2f96;
    border-width: 1px 0 1px 1px;

}

.formatButtons>button:nth-child(2) {
    border-radius: 0;
    border: solid #13c2c2;
    border-width: 1px 1px 1px 1px;
}

.formatButtons>button:nth-child(3) {
    border-radius: 0 8px 8px 0;
    border: solid #722ed1;
    border-width: 1px 1px 1px 0;
}

.modal :global(.ant-modal-body) .rating span:not(.title) {
    margin-left: 4px;
    margin-right: 2px;
}

.rating>div {
    width: 65px;
}

.selection :global(.ant-rate .ant-rate-star) {
    margin: 0;
}

.diversityRows {
    display: grid;
    grid-template-columns: min-content min-content auto;
    overflow: hidden;
    gap: 12px;
}

.modal .diversityRows>* {
    margin: 0;
}

.diversityCheckboxes {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
    .title {
        margin-right: 6px;
    }
}