.displayNone {
  display: none;
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding:16px 64px;
  font-family: var(--font-geist-sans);
  gap: 16px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
  

.header {
  margin: -16px -64px 0;
  padding: 16px 64px 24px 64px;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0.6px 1.8px rgba(131, 126, 255, 0.1), 0px 3.2px 7.2px rgba(131, 126, 255, 0.12);
  z-index: 1;
}

.searchbox {
  margin-top: 16px
}

.header + * {
  margin-top: 124px;
}

.nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav > button {
  position: absolute;
  padding: 0 12px;
  left: 0;
}

.nav button {
  border-radius: 0;
}

.shelfNav {
  height: 32px;
}

.shelfNav > * {
  padding: 0 12px;
  box-sizing: content-box;
  border: solid lightgrey;
  border-width: 0 1px 0 0;
}
.shelfNav > *:last-child {
  border: 0;
}

.shelfNav > button {
  animation: none;
  transition: none;
}

.nav > .shelfNav > .tbrnav:hover {
  background-color: #2baefa20;
}
.nav > .shelfNav > .tbrnav.activeNav {
  background-color: #2baefa;
  cursor: default;
}
.nav > .shelfNav > .readingnav:hover {
  background-color: #4395f320;
}
.nav > .shelfNav > .readingnav.activeNav {
  background-color: #4395f3;
  cursor: default;
}
.nav > .shelfNav > .readnav:hover {
  background-color: #5576eb20;
}
.nav > .shelfNav > .readnav.activeNav {
  background-color: #5576eb;
  cursor: default;
}
.nav > .shelfNav > .dnfnav:hover {
  background-color: #6058e220;
}
.nav > .shelfNav > .dnfnav.activeNav {
  background-color: #6058e2;
  cursor: default;
}

.customList {
  margin-left: 32px;
}

.userButton {
  position: absolute;
  right: 0;
  align-self: anchor-center;
}

.userPanel {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
  width: min-content;
}

.userPanelContent {
  padding: 8px;
}

.userPanelInfo {
  padding: 6px 12px 12px;
}

.userPanelActions {
  border: 0;
}

.userPanelActions > button {
  padding: 10px 12px 8px;
}

.userPanelFooter {
  display: none;
}

.pageLoading {
  height: 100%;
  align-self: center;
}

.bookResults {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-auto-rows: min-content;
  row-gap: 16px;
  column-gap: 16px;
  
  width: 100%;
  font-size: 10px;
  line-height: 14px;
}

.bookResults img {
  height: 90px;
  justify-self: center;
}

.bookInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bookTitle {
  font-size: 18px;
  line-height: 20px;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bookTitle svg {
  margin-left: 4px;
  vertical-align: sub;
}

.author {
  font-size: 14px;
  line-height: 16px;
  margin-top: 2px;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tags {
  margin-left: -2px;
  flex: 1;
  align-content: center;
}

.metadata {
  display: flex;
  gap: 8px;
  color: rgb(80, 70, 70);
}

.metadata > * {
  flex: 0 0 auto;
}

.publisher {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 1 auto;
}

.buttons {
  align-self: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.shelfButtons {
  position: relative;
}

.formats {
  margin-top: 6px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 4px;
  position: absolute;
  transform: translateX(-24px);
}

.onShelfIcon {
  background-color: #1677ff;
  border-radius: 8px;
  padding: 4px;
  box-sizing: content-box;
  color: white;
}

.todoTitle {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.listEditButtons {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
  justify-content: flex-end;
}

.collapse:first-child {
  margin-bottom: 24px;
}

.collapse:first-child,
.collapse:first-child> *:first-child,
.collapse:first-child :global(.ant-collapse-content) {
  border-color: #14a5f9;
}

.collapse:last-child,
.collapse:last-child > *:first-child,
.collapse:last-child :global(.ant-collapse-content) {
  border-color: #5576eb;
}

.collapse :global(.ant-collapse-content-box) {
  max-height: 45vh;
  overflow: scroll;
}

.collapse .pageLoading {
  height: 100px;
  align-content: center;
  grid-column: 1 / -1;
}

.collapseTitle {
  display: flex;
  gap: 8px;
  font-weight: 600;
}


@media screen and (max-width: 700px) {
  .page {
    padding: 16px;
  }

  .header {
    margin: -16px -16px 0;
    padding: 16px;
  }

  .nav > button,
  .shelfNav > * {
    padding: 0 8px; 
  }

  .bookResults img {
    max-width: 70px;
  }

  .buttons {
    width: 32px;
  }

  .page .collapse :global(.ant-collapse-content-box) {
    padding: 12px;
  }
}
