.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 36px 32px auto;
  justify-items: center;
  min-height: 100svh;
  padding:16px 64px;
  font-family: var(--font-geist-sans);
  gap: 16px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.nav > a {
  position: absolute;
  left: 64px;
}

.shelfNav > * {
  padding: 0px 12px;
  box-sizing: content-box;
  border: solid lightgrey;
  border-width: 0 1px 0 0;
}
.shelfNav > *:last-child {
  border: 0;
}

.nav > .shelfNav > .tbrnav:hover {
  background-color: #2baefa20;
}
.nav > .shelfNav > .readingnav:hover {
  background-color: #4395f320;
}
.nav > .shelfNav > .readnav:hover {
  background-color: #5576eb20;
}
.nav > .shelfNav > .dnfnav:hover {
  background-color: #6058e220;
}


.bookResults {
  display: grid;
  grid-template-columns: min-content auto min-content;
  width: 100%;
  row-gap: 32px;
  font-size: 10px;
  line-height: 14px;
  column-gap: 16px;
  margin-top: 30px;
}

.pageLoading {
  height: 100%;
  align-self: center;
}

.bookRow {
  border-bottom: 1px solid rgba(var(--gray-rgb), 0.05);
}

.bookResults img {
  height: 80px;
  justify-self: center;
}

.bookTitle {
  font-size: 18px;
  line-height: 26px;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.author {
  font-size: 16px;
  line-height: 18px;
  margin-top: 2px;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.metadata {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  gap: 8px;
  margin-top: 20px;
  color: rgb(80, 70, 70);
}

.buttons {
  align-self: center;
  display: flex;
  gap: 8px;
}

.shelfButtons {
  position: relative;
}

.formats {
  margin-top: 6px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 4px;
  position: absolute;
  transform: translateX(-24px);
}
